<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title>Domov</title>
</head>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <h1 class="navbar-brand">StudCrud</h1>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/home">Projekty</a></li>
                    <li class="nav-item"><a class="nav-link" href="/student">Studenti</a></li>
                    <li class="nav-item"><a class="nav-link" href="/teacher">Učitelé</a></li>
                    <li class="nav-item"><a class="nav-link" href="/subject">Předměty</a></li>
                    <li class="nav-item dropdown">
                        <button href="" id="dropdown-btn" class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown">Uživatel</button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-btn">
                            <li><a href="" class="dropdown-item">Profil</a></li>
                            <li><a class="dropdown-item" href="#">Odhlásit se</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container my-lg-4">
            <div th:if="${param.delete}" class="alert alert-success">Projekt byl smazán</div>
            <form th:action="@{/project/search}" class="input-group">
                <input name="name" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="submit" class="btn btn-outline-primary">search</button>
            </form>
            <a th:href="@{/project/new}" class="btn btn-danger my-3">Přidat projekt</a>
            <a href="project/import/excel" class="btn btn-danger">Import z Xlsx</a>
            <a th:href="@{/project/export/csv}" class="btn btn-primary my-3">Export do CSV</a>
            <a th:href="@{/project/export/xlsx}" class="btn btn-primary my-3">Export do Xlsx</a>
            <table class="table">
                <thead class="table-primary active">
                    <tr>
                        <th>Název projektu</th>
                        <th>Autor</th>
                        <th>Učitel</th>
                        <th>Předmět</th>
                        <th th:if="${user.isAdmin()}"></th>
                    </tr>
                </thead>
                <tbody class="table-dark border-2 table-bordered">
                    <tr th:each="project: ${projects}">
                        <td class="align-middle" th:text="${project.name}"></td>
                        <td class="align-middle"  th:text="${project.student.name}"></td>
                        <td class="align-middle"  th:text="${project.teacher.prefix} + ' ' + ${project.teacher.name}"></td>
                        <td class="align-content-between align-middle"  th:text="${project.subject.shortcut}"></td>
                        <td th:if="${user.isAdmin()}">
                            <a class="btn btn-primary">Edit</a>
                            <form class="my-2" th:action="@{project/delete}" method="post">
                                <input type="hidden" name="id" th:value="${project.id}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>