<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Vytvořit projekt</title>
</head>
<body>
    <div th:replace="home.html :: header"></div>
    <main>
        <div class="row align-items-center">
            <div class="mx-auto my-2 col-10 col-md-8 col-lg-6">
                <div class="h3">Přidání nového projektu</div>
                <form th:action="@{/project/new}" method="post" th:object="${project}">
                    <label for="name" class="form-label" th:field="*{name}">Název projektu</label>
                    <input type="text" class="form-control" id="name" name="name">
                    <label for="students" class="form-label"></label>
                    <select class="form-select" id="students" name="students" th:field="*{student}">
                        <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.name}"></option>
                    </select>
                    <label for="teachers" class="form-label"></label>
                    <select class="form-select" id="teachers" name="teachers" th:field="*{teacher}">
                        <option th:each="teacher : ${teachers}" th:value="${teacher.id}" th:text="${teacher.name}"></option>
                    </select>
                    <label for="subjects" class="form-label"></label>
                    <select class="form-select" id="subjects" name="subjects" th:field="*{subject}">
                        <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.name}"></option>
                    </select>
                    <button type="submit" class="btn btn-primary btn-sm my-3">Přidat projekt</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>