<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Uživatel</title>
</head>
<body>
<div th:replace="home.html :: header"></div>
<main>
    <div class="row align-items-center">
        <div class="mx-auto my-2 col-10 col-md-8 col-lg-6" th:object="${user}">
            <h2 class="text-center" th:text="${user.username}"></h2>
        </div>
    </div>
</main>
</body>
</html>